.header {
    position: fixed;
    width: 100%;
    top: 0;
    direction: rtl;
    align-items: center;
    flex-direction: row;
    display: block;
    font-size: 1em;
    white-space: nowrap;
    z-index: 100000000000;
    background-color: #B12025;
}

.account-icon {
    width: 245%;
    height: 102%;
}

.imedb-logo{
    width: 44%;
}

.dropdown-style{
    text-align: center;
    background-color: #B12025;
    opacity: 85%;
    margin-left: 4%;
    border-radius: 18px;
}

.middle-header .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

middle-header .search-container button:hover {
    background: #ccc;
}

.search-input {
    border-radius: 8px;
    width: 57%;
    height: 26px;
    margin-top: 1%;
}

.search-container form svg{
    position: absolute;
    margin-top: 1%;
    margin-right: 1%;
    color: #B12025;
    font-size: 2vw;
}

.btn-search {
    direction: ltr;
    background-color: white;
    border-radius: 8px;
    width: 44%;
    height: 26px;
    margin-top: 1%;
}

.btn-search::after{
    color: #B12025;
}