@import "../fonts/vazir-fonts/fonts.css";



body{
    background-color: #292929;
    overflow-x: hidden;
    font-family: "Vazir" !important;
}

.text-align-center{
    text-align: center;
}

.text-align-right{
    text-align: right;
}

.text-align-left{
    text-align: left;
}

.padding-left-0{
    padding-left: 0;
}

.padding-right-0{
    padding-right: 0;
}

p{
    direction: rtl;
    color : white;
}
.line{
    border: 1px solid gray;
}

.margin-top-1 {
    margin-top: 1%;
}

.margin-top-7 {
    margin-top: 7%;
}

.margin-0 {
    margin: 0;
}

.padding-0 {
    padding: 0;
}

.padding-4{
    padding: 4%;
}

.padding-top-1{
    padding-top: 1%;
}

.display-list-item{
    display: list-item;
}

.display-inline{
    display: inline;
}

.direction-rtl{
    direction: rtl;
}

.image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.dropdown-item{
    color: white;
}

.responsive-image {
    margin-bottom: 4%;
    min-width: 25%;
    position: relative;
    cursor: pointer;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.responsive-image:hover .image {
    opacity: 0.3;
}

.responsive-image:hover .middle {
    opacity: 1;
}

.text {
    color: white;
    font-size: 16px;
    padding: 0px 32px;
}

.two-part-text{
    display: inline-flex;
    direction: rtl;
}

.color-green{
    color: green;
}

.color-red{
    color: red;
}

.color-white{
    color: white;
}

.color-black{
    color: black;
}

.float-unset{
    float: unset;
}

.movie-pic{
    width: 100%;
}

.margin-right-3{
    margin-right: 3%;
}